{{> header }}

{{#if results}}
<table>
  <tr>
    <th>ID</th>
    <th>Colegio</th>
    <th>Curso</th>
    <th>Letra</th>
    <th>Editar</th>
  </tr>
    {{#each results}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{level}}</td>
            <td>{{letter}}</td>
            <td><a href="#">Editar</a></td>
        </tr>
    {{/each}}
</table>
{{/if}}