{{> header }}
<h1 style="margin:1rem;">Colegios</h1>
{{#if results}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
        <th>Acciones</th>
    </tr>
  </thead>
    {{#each results}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-info">Ver</button>
            </td>
        </tr>
    {{/each}}
</table>
{{/if}}