{{> header }}
<h1 class="new-title">Añadir estudiante</h1>
<form class="edit-form" method="post" action="/admin/students">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required="required">
  </div>
    <div class="form-group">
    <label for="surname">Apellido</label>
    <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellido" required="required">
  </div>
      <div class="form-group">
    <label for="rut">Rut</label>
    <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut" required="required">
  </div>
      <div class="form-group">
    <label for="age">Edad</label>
    <input type="text" class="form-control" id="age" name="age" placeholder="Edad" required="required">
  </div>
  <div class="form-group">
    <label for="gender">Género</label>
    <select class="form-control" id="gender" name="gender" required="required">
      <option value="M"> M</option>
      <option value="F"> F</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="course_id">Curso</label>
    <select class="form-control" id="course_id" name="course_id" required="required">
        {{#each courses}}
      <option value={{id}}> {{level}} {{letter}} - {{name}}</option>
      {{/each}}
    </select>
  </div>
    <input type="submit" class="btn btn-primary" value="Enviar">
</form>