<h2 style="text-align:center; color:#f3f3f7;">Upload section</h2>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name">
    <input type="file" name="data">
    <button type="submit">Upload Image</button>
</form>



