<h1>Upload Students</h1>
<form action="/upload/students" enctype="multipart/form-data" method="post">
    <input type="file" name="uploadfile" accept='csv' >
    <input type="submit" value="Upload CSV">
</form>  