<div>
    <h3>Ingrese sus datos</h3>
    <form action="/signup" method="POST">

    <label for="user">Usuario</label>
    <input type="text" id="user" name="user">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Enviar">
    </form>
</div>