<header>
    <div class="nav-links-wrapper">
        <div class="nav-link">Evaluaciones</div>
        <div class="nav-link">Evaluadores</div>
        <div class="nav-link">Colegios</div>
        <div class="nav-link">Cursos</div>
        <div class="nav-link">Estudios</div>
        <div class="nav-link">Momentos</div>
        <div class="nav-link">Instrumentos</div>
    </div>
    <img src="" alt="">
</header>