    <header class="header">
        <div class="nav-links-wrapper">
            <div class="nav-link"><a href="/admin">Evaluaciones</a></div>
            <div class="nav-link"><a href="/admin/users">Evaluadores</a></div>
            <div class="nav-link"><a href="/admin/schools">Colegios</a></div>
            <div class="nav-link"><a href="/admin/courses">Cursos</a></div>
            {{!-- <div class="nav-link"><a href="/admin/studies">Estudios</a></div> --}}
            <div class="nav-link"><a href="/admin/moments">Momentos</a></div>
            <div class="nav-link"><a href="/admin/instruments">Instrumentos</a></div>
        </div>
        <div class="title-wrapper">
            <h1>SELB</h1>
        </div>
        
    </header>